<div class="container">
  <h1>VETERINARIA</h1>
  <form [formGroup]="forma" (ngSubmit)="guardar()">
  <!-- NOMBRE -->
    <div class="row">
        <div class="col-5">
          <label for="fnombre" class="lbl">Nombre</label>
        </div>
      <div>
          <input
          type="text"
          id="fnombre"
          placeholder="Nombre"
          class="txtbox"
          formControlName="nombre"
          [class.is-invalid]="nombreNoValido">
          <small class="text-danger" *ngIf="nombreNoValido">Ingrese mas de 5 letras</small>
          <!-- <small class="text-danger-1" *ngIf="nombreValido">Nombre valido</small>   -->
      </div>
    </div>
    <!-- EDAD -->
    <div class="row">
      <div class="col-5">
        <label for="fedad" class="lbl">Edad</label>
      </div>
    <div>
        <input
        type="number"
        id="fedad"
        placeholder="Edad"
        class="txtbox"
        formControlName="edad"
        maxlength="2"
        min="0"
        max="20"
        step="1"
        [class.is-invalid]="edadNoValido">
        <small class="text-danger" *ngIf="edadNoValido">Intente nuevamente</small>  
    </div>

    <!-- ESPECIES -->
    <div class="row">
      <div>
          <select 
          id="fespecie"
          formControlName="especie"
          [class.is-invalid]="especieNoValido"
          >
            <option value="" selected class="especies">Especie</option>
            <option value="canina">Canina</option>
            <option value="felino">Felino</option>
            <option value="ave">Ave</option>
            <option value="otros">Otros...</option>
          </select>
      </div>
    </div>
    <small class="text-danger" *ngIf="especieNoValido">Elija una especie</small> 
    
    
    


    <!-- OBSERVACIONES -->
    <div class="row">
      <div class="col-5">
        <label for="fedad" class="lbl">Observaciones</label>
      </div>
      <div>
          <textarea 
          type="text" 
          id="fobservaciones" 
          cols="30"
          name="observaciones" 
          rows="10"
          formControlName="observaciones"
          [class.is-invalid]="observacionesNoValido">
        </textarea>
        <small class="text-danger" *ngIf="observacionesNoValido">Ingrese mas de 5 letras</small>  
      </div>

      <div>
      <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
      </div>
      <div>
        <button type="button" class="btn-1" [disabled]="!forma.valid" (click)="limpiarFormulario()">Limpiar</button>
        </div>
    </div>
  </div>
  </form>
</div>

<!-- <hr>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
 </pre>
 <pre>
  {{ forma.value | json }}
 </pre> -->
