.container {
  border-radius: 5px;
  padding: 30px;
  color: yellow;
}
 
 
.row {
  padding-top: 10px;
}


h1{
  text-align: center;
  color: rgb(27, 187, 240);
  margin-left: -20px;
  margin-bottom: 30px;
}


.col-5 {
  float: left;
  width: 7%;
  margin-top: 2px;
}

.lbl {
  text-align: right;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
  margin-left: 430px;
  }


.txtbox {
  width: 25%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 28%;

}


.alinea-btn{
  margin-left: 8%;
}


.btn {
  border-radius: 15px;
  background-color: rgb(32, 104, 212);
  color: white;
  margin-top: 30px;
  float: left;
  width: 9%;
  margin-left: 38%;
  padding: 12px;
  cursor: pointer;
}

.btn-1{
  border-radius: 15px;
  background-color: rgb(9, 186, 9);
  color: white;
  float: left;
  margin-top: -43.1px;
  width: 10%;
  margin-left: 49%;
  padding: 12px;
  cursor: pointer;
}


.cmbbox {
  width: 27%;
  padding: 12px;
  border: 1px solid #ccc;
}


.radiobtn {
  margin-top: 1%;
}


.una-linea {
  display:inline-block;
}
  

/*Validaciones*/
.is-invalid {
  border: 1px solid #ff0000a6;
}


.text-danger {
  display: block;
  margin-left: 35%;
  padding-top: 2px;
  color: #ff0000a6;
}


.text-danger-1 {
  display: block;
  margin-left: 35%;
  padding-top: 2px;
  color: rgb(51, 200, 51);
}

.mueve-derecha {
  float: left;
  margin-right: 14px;
}
  

.btn-danger {
  border: none;
  background-color: #bb0f0f;
  color: white;
  padding: 8px;
  cursor: pointer;
}


.btn-add {
  border: none;
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
  

select{
  margin-left: 35%;
  width: 10%;
  border-radius: 7px;
  height: 40px;
}


select:hover{
  background-color: grey;
  color: white;
}

textarea{
  width: 25.3%;
  padding: 12px;
  border: 2px solid rgb(153, 143, 143);
  border-radius: 7px;
  height: 90px;
  resize: none;
  margin-top: 3%;
  margin-left: 27.6%;
}


.especies{
  color: yellow;
  background-color: grey;
  font-weight: bold;
}
  