/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

body{
  background-color: #000000cc;
  background-image: url(./assets/img/gat.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
